# Backend
backend/.env
backend/.env.local
backend/.env.development
backend/.env.test
backend/.env.production
backend/.env.*.local

__pycache__/
*.py[cod]
*$py.class
*.so

.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
*.sqlite3
media/
staticfiles/
collected-static/

**/migrations/__pycache__/

.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.ruff_cache/

# Frontend
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.test
frontend/.env.production
frontend/.env.*.local

node_modules/
dist/
.vite/
build/

.vite/
*.tsbuildinfo
.eslintcache
.stylelintcache

# Sistema 
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*.swo

.tmp/
temp/